<header>
  <div class="small-12 columns">
    <h1>Random Sims</h1>
  </div>
</header>

<section>
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <td></td>
          <td>Age</td>
          <td>Gender</td>
          <td>Aspiration</td>
          <td>Starsign</td>
          <td>Turn Ons</td>
          <td>Turn Off</td>
        </tr>
      </thead>
      <tbody>
      <% @sims.each do |sim| %>
        <% n += 1 %>
        <tr>
          <td>#<%= n %></td>
          <td><%= sim[:age].capitalize %></td>
          <td><%= sim[:gender].capitalize %></td>
          <td><%= sim[:aspiration].capitalize %></td>
          <td><%= sim[:starsign].capitalize %></td>
          <td><%= sim[:turn_on_a] == '-' ? '-' : "#{sim[:turn_on_a].capitalize}, #{sim[:turn_on_b]}" %></td>
          <td><%= sim[:turn_off].capitalize %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>